npm-debug.log
yarn-error.log
lerna-debug.log
node_modules
lib
esm
es6
dist
docs/_site/
docs/.jekyll-metadata
docs/.jekyll-cache
packages/react-admin/docs
examples/**/static
examples/**/dist
cypress/videos
cypress/screenshots
/public
/storybook-static
**/.DS_Store

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
examples/protiv/src/aws-exports.js
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
